/* src/styles/Nailova.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
   
    background-color: #ffffff;
}

.nailova-container {
    width: 100%;
    max-width: 2939px; /* Match image width */
    margin: 0 auto;
    background-color: #383838;
}

.nailova-image {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {


.nailova-container {

    margin-top: 50px;
}


}